[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
langchain = "*"
langchain-openai = "*"
langchain-together = "*"
langchain-community = "*"
unstructured = {extras = ["all-docs"], version = "*"}
langchain-unstructured = "*"
llmsherpa = "*"
streamlit = "*"
fastapi = "*"
plotly = "*"
pipenv = "*"
uvicorn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
